/* stylesheet.css */
@font-face
{
font-family: Century Gothic;
src: url("http://scripto.co.in/web/centurygothicfont.ttf"),
}
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Century Gothic, Times, serif;
}
div.sidebar {
    background-color:#ffffff;
    position:fixed;
    z-index:1;
    overflow:auto;
    left:50px;
}


